# Inspired by https://www.gitignore.io/api/intellij

# User-specific stuff
.idea/workspace.xml

# Sensitive or high-churn files
.idea/**/uiDesigner.xml

# IntelliJ + Gradle
.idea/**/gradle.xml
.idea/**/libraries

# IntelliJ
/out/

# Mac OS
*.DS_Store

# Gradle
.gradle/
build/
